@model Blog_GreenFluffyBites.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="container" style="padding-top:50px">
    <div class="well">
        <p class="text-success">@ViewBag.StatusMessage</p>
        <div>
            <h4>Change your account settings</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>Password:</dt>
                <dd>
                    [
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Set your Password", "SetPassword")
                    }
                    ]
                </dd>                
            </dl>
        </div>
      </div>
</div>